#hokusai {
  background: #fff;
}



a {
  color: #000;
}

h2 {
	font-family: georgia, times, serif;
  font-size: 3em;
  line-height: 1em;
  font-weight: normal;
  margin: 1em 0;
  color:0x222;
}
p {
	font-family: georgia, times, serif;
  font-size: 1.8em;
  line-height: 1.5em;
  color:0x333;
  margin: 0 0 1em 0;
}
#two {
  background: #EEE;
}
#splat1 {
  position: absolute;
  left:280px;
  top:600px;
  opacity: 0;
}
#splat2 {
  position: absolute;
  left:250px;
  top:602px;
  opacity: 0;
}
#splat3 {
  position: absolute;
  left:250px;
  top:650px;
  opacity: 0;
  
}
#splat4 {
  position: absolute;
  left:250px;
  top:650px;
  opacity: 0;
  
}