---
---
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600italic);

h1, p {
  font-family: 'Crimson Text', serif;
}

p {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

section {
  .container {
    padding-top: 30px;

  }
}





#brand {

  color: #aaa;
  background: #CCC url(/images/bg.jpg) repeat;

  .container {
    margin:auto;
    width: 37em;
    text-align: center;
    padding-top: 14em;

  }
  .logo {
    display:block;
    margin:auto;
    position:relative;
    left:-2em;
  }
  h1.cavalier {
      color: #000e2d;
  }
  h1 {

    color: #810024;
    font-size: 6em;
    line-height: .5em;
    font-weight:400;
    letter-spacing: -.05em;

    display:inline-block;
    text-shadow: -.02em -.02em 0.02em white, .02em .02em .02em #666;
    padding:0;
    .footnote {
      vertical-align:super;
      font-size:.5em;
    }
  }

  a {
    color: #810024;
    margin-left: 12px;
  }
  a:hover {
    text-decoration: none;
    color: #000e2d;

  }
}

#company {
}

#about-us {
  background: #eee;

  .container {
    padding: 60px 0 210px;
  }

  #people {
    position: relative;
    margin-bottom: 1em;
  }

  #images, #blurbs {
    position: absolute;
  }

  .blurb {
    display: inline-block;
    width: 233px;
    height: 350px;
    background: #eee;
  }

  .blurb p {
    position: relative;
    top: 300px;
    left: 0;
    text-align: center;
  }

  .blurb, img {
    margin: 0 2px 2px 0;
  }
}

footer {
  background: #222;
  padding: 60px 0 75px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;

    li {
      font-size: 1.25em;
      line-height: 1.5;
    }
  }
}
